
@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-container {
    @apply xl:max-w-full xl:px-[70px] px-[15px];
}
input:focus-visible,
textarea:focus-visible {
    @apply outline;
}

@font-face {
    font-family: Broadway;
    src: url('../fonts/Broadway Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Oswald;
    src: url('../fonts/Oswald-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Martel;
    src: url('../fonts/Martel-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@layer base {
    input,
    textarea {
        @apply placeholder:text-[#595959] fixed-xs:text-[14px];
    html {
        font-family: Broadway, Oswald;
    }
    }
}

/*----------------------------------------*/
/*  - header
/*----------------------------------------*/
.main-menu {
    @apply flex justify-start uppercase leading-8 text-[15px] text-main  ;
}

.ul{
 column-count: 4;
}
.main-menu{
    column-count: 4;
}

.main-menu li {
    flex: 1;
    padding: 10px 0;
    margin: 0;
    @apply col-span-2;
}

.main-menu li a {
    @apply block pr-[45px] col-span-2;
}

.main-menu li a{
    padding: 0;
}
.main-menu li a span {
    @apply relative col-span-2 block before:absolute before:left-0 before:bottom-0 before:right-0 before:h-[1px] before:opacity-0 before:bg-Tanish before:transform before:scale-x-[0.2] before:transition before:duration-500 hover:before:opacity-100 hover:before:scale-x-100;
}
.main-menu li.active a span {
    @apply before:opacity-100 before:scale-x-100;
}
.main-menu .navigation > li > ul {
    padding: 20px 15px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sticky-style-2 .main-menu li a span {
    @apply before:bg-black;
}
.is-sticky {
    @apply fixed transition duration-500 top-0 left-0 w-full z-20;
}
.is-sticky .grid {
    @apply leading-[100px];
}
.is-sticky .main-menu li a span {
    @apply before:bottom-auto before:top-0;
}
.is-sticky.sticky-style-1 {
    @apply bg-[#111111];
}
.sticky-style-2 {
    @apply bg-secondary  ;
}

.language-list {
    @apply flex justify-end items-center uppercase leading-8 text-[14px];
}
.language-list li {
    @apply pr-[45px];
}

.offcanvas-menu-wrap {
    @apply before:absolute before:w-0 before:h-full before:top-0 before:right-0 before:bg-black before:z-10 before:opacity-90 before:ease-linear before:duration-[500ms] delay-[300ms];
}
.offcanvas-menu-wrap.active {
    @apply before:w-full before:visible before:opacity-90;
}
.offcanvas-menu-wrap .offcanvas-menu {
    @apply opacity-90 bg-white fixed top-0 right-[-300px] w-[300px] h-full ease-in-out duration-[450ms] delay-[350ms] p-5 z-20;
}
.offcanvas-menu-wrap.active .offcanvas-menu {
    @apply right-0 opacity-100;
}
.offcanvas-text {
    @apply pt-[15px] pb-[15px] border-t last:border-b text-[15px] leading-6 uppercase font-semibold;
}

/*----------------------------------------*/
/*  - hero
/*----------------------------------------*/
.hero-area .swiper-pagination {
    @apply !bottom-auto !left-auto xl:!right-[70px] !right-[15px] top-[calc(50%-75px)] !w-auto transform translate-y-1/2 z-[2];
}
.hero-area .swiper-pagination .swiper-pagination-bullet-active {
    @apply !opacity-100;
}
.hero-area .swiper-pagination .swiper-pagination-bullet {
    @apply block !mb-[20px] last:!mb-0 w-[14px] h-[14px] bg-white opacity-30 hover:opacity-100 transition-all;
}

.mouse-btn-down {
    @apply h-[68px] w-[30px];
}
.chevron {
    @apply cursor-pointer w-[28px] h-[7px] transition-all opacity-0 absolute before:skew-y-[30deg] before:bg-[#ffe1a0] before:h-full before:w-[51%] before:absolute after:bg-[#ffe1a0] after:absolute after:h-full after:w-[51%] after:right-0 after:skew-y-[-30deg];
}

.hero-slidedown {
    @apply relative opacity-0 scale-y-0 origin-top transition duration-1000;
}
.swiper-slide-active .hero-slidedown {
    @apply opacity-100 scale-y-100;
}

.boxed-btn {
    @apply relative inline-block text-black py-[15px] px-[40px] overflow-hidden rounded-none bg-primary uppercase z-[2] content-none before:absolute before:top-0 before:left-0 before:w-full before:h-full before:z-[-1] before:opacity-0 before:bg-[#262626] before:transition before:duration-[0.4s] before:scale-x-[0.2] before:scale-y-[1] hover:before:opacity-100 hover:before:scale-100 hover:text-red-600;
}
.boxed-outline-btn {
    @apply relative inline-block text-[14px] leading-[30px] p-[11px_32px] border border-[#969696] uppercase before:absolute before:top-0 before:left-0 before:w-full before:h-full before:z-[-1] before:opacity-0 before:bg-primary before:transition before:duration-[0.4s] before:scale-x-[0.2] before:scale-y-[1] hover:before:opacity-100 hover:before:scale-100 hover:border-primary;
}

/*----------------------------------------*/
/*  - services
/*----------------------------------------*/
.service-box {
    @apply relative lg:mb-[30px] lg:last:mb-0;
}
.service-box .service-box-inner {
    @apply relative py-[30px] lg:px-[50px] px-[30px] border border-[#d9d9d9] transition duration-[0.5s] before:absolute before:left-[-1px] before:top-0 before:bottom-0 before:w-[5px] before:opacity-0 before:bg-primary before:scale-x-[1] before:scale-y-[0.2] before:transition before:duration-[0.5s] hover:shadow hover:before:opacity-100 hover:before:scale-100;
}
.service-box-inner .service-list {
    @apply relative flex;
}
.service-list .icon {
    @apply w-[65px];
}
.service-list .icon svg {
    @apply text-[54px];
}
.service-list > .content {
    @apply lg:pl-[45px] pl-[30px];
}
.service-list > .content .title {
    @apply text-[20px] leading-[26px] uppercase mb-[10px];
}
.service-list .content .desc {
    @apply text-secondary text-[14px];
}

/*----------------------------------------*/
/*  - project
/*----------------------------------------*/
.project-area .swiper-container {
    @apply md:pb-[100px] pb-[75px];
}
.project-area .swiper-pagination {
    @apply !bottom-0;
}
.project-area .swiper-pagination .swiper-pagination-bullet {
    @apply !m-[0_20px_0_0] last:!mr-0 w-[10px] h-[10px] leading-[10px];
}
.project-area .swiper-pagination .swiper-pagination-bullet-active {
    @apply bg-primary;
}

.project-item {
    @apply relative before:absolute before:bg-primary before:w-0 before:h-full before:top-0 before:left-0 before:z-[1] before:pointer-events-none transition before:duration-500 hover:before:w-full;
}
.project-content {
    @apply absolute left-[40px] bottom-[40px] z-[2];
}
.project-category {
    @apply text-main text-[14px] leading-6 uppercase block mb-[15px] transition duration-500 group-hover:text-black;
}
.project-title {
    @apply text-main text-[36px] leading-[43px] transition duration-500 group-hover:text-black;
}
/*----------------------------------------*/
/*  - post
/*----------------------------------------*/

.post-share-tags {
    @apply flex;
}
.post-share-tags li a {
    @apply relative block mr-1 border p-[10px_20px] border-[#595959] border-opacity-50 text-[15px] text-[#595959] transition-all hover:bg-primary hover:border-primary hover:text-[#111111];
}

/*----------------------------------------*/
/*  - pricing tab
/*----------------------------------------*/
.pricing-tab li {
    @apply first:mx-5;
}
.pricing-tab li span {
    @apply transition-all hover:text-black;
}
.pricing-tab li.active span {
    @apply text-black;
}
.pricing-tab li.monthly .round {
    @apply relative ml-5 before:transition-all pl-[46px] bg-[#669900] w-[46px] h-[24px] rounded-[50px] pointer-events-none before:absolute before:top-1/2 before:left-[2px] before:translate-y-[-50%] before:translate-x-[24px] before:bg-[#f6f8f4] before:w-[16px] before:h-[16px] before:rounded-[50px];
}
.pricing-tab li.monthly.active .round {
    @apply before:translate-x-0;
}
.pricing-content .common {
    @apply hidden;
}
.pricing-content .common.active {
    @apply block;
}
.pricing-item {
    @apply border-t border-l border-b last:border-r max-md:border-r border-[#e6e9ec] p-[35px_30px_45px_45px] fixed-lg:p-[35px_18px_45px_18px];
}
.pricing-item span {
    @apply block;
}
.pricing-item .title {
    @apply text-[#999999] text-[14px] leading-6 uppercase mb-[15px];
}
.pricing-item .price {
    @apply text-[36px] leading-[47px] text-[#669900] mb-[15px];
}
.pricing-item .desc {
    @apply text-secondary text-[14px] leading-[25px] pb-[25px] mb-[25px] border-dashed border-b;
}
.pricing-item .price-list li {
    @apply flex items-center mb-[15px] last:mb-0;
}
.pricing-item .price-list li {
    @apply flex items-center mb-[15px] last:mb-0;
}
.pricing-item .price-list li .icon {
    @apply text-[#669900] mr-[10px];
}

/*----------------------------------------*/
/*  - testimonial
/*----------------------------------------*/
.testimonial-area {
    @apply md:pt-[155px] pt-[55px] md:mt-[155px] mt-[55px];
}
.testimonial-title {
    @apply lm:text-[42px] text-[28px] lm:leading-[50px];
}
.testimonial-block {
    @apply bg-white relative;
}
.testimonial-block .inner-box {
    @apply relative pt-[25px] pb-[35px] px-[25px];
}
.testimonial-author {
    @apply font-heebo font-medium text-[18px] text-[#263a4f] mb-[15px];
}
.testimonial-author .occupation {
    @apply font-heebo font-normal text-[14px] text-[#30373E] ml-1;
}
.testimonial-feedback {
    @apply text-[14px] leading-[25px] text-[#30373E];
}

/*----------------------------------------*/
/*  - footer
/*----------------------------------------*/
.footer-widget-item .title {
    @apply xl:text-[30px] text-[20px] leading-[39px];
}
.footer-widget-item ul li {
    @apply text-secondary text-[14px] leading-[24px] uppercase mb-[5px] last:mb-0;
}
.footer-list li {
    @apply duration-300 hover:text-black hover:pl-[15px];
}
.footer-widget-item .contact-info li {
    @apply leading-[27px] mb-[15px] last:mb-0;
}
.footer-bottom .copyright {
    @apply flex items-center;
}
.footer-bottom .copyright {
    @apply flex items-center text-[#30373E] text-[14px] leading-6;
}
.footer-bottom .copyright span {
    @apply text-black font-bold normal-case;
}
.footer-social-link {
    @apply flex justify-center flex-wrap;
}
.footer-social-link li {
    @apply mr-4 last:mr-0;
}
.footer-social-link li a {
    @apply text-[14px] leading-6 uppercase transition-all text-[#30373E] hover:text-sky;
}

/*----------------------------------------*/
/*  - team
/*----------------------------------------*/
.team-title {
    @apply text-[24px] leading-[31px] transition-all hover:text-[#caac6b];
}
.team-occupation {
    @apply text-[14px] leading-6 text-secondary;
}

.page-parallax img {
    @apply bg-fixed h-[250px];
}

/*----------------------------------------*/
/*  - team
/*----------------------------------------*/
.spacer {

    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*This is the copy pasted styling*/
:root {
    --color-light: #fcd252;
    --color-dark: white;
    --color-signal: #446168;

    --color-background: white;
    --color-text: var(--color-dark);
    --color-accent: var(--color-signal);
    --card-primary: #555BFF;
    --size-bezel: .5rem;
    --size-radius: 4px;

    --green: #1FC11B;
    --yellow: #FCD252;
    --orange: #F59B56;
    --red: #FF5555;
    --rOrgange: #F8724F;
    --primaryTeal: #44AFA9;
    --slate: #446169;
    line-height: 1.4;

    font-family: 'Inter', Oswald;
    font-size: calc(.6rem + .4vw);
    color: var(--color-text);
    background: var(--color-background);
    font-weight: 300;
    padding: 0;
}
.react-calendar__navigation button {
    min-width: 30px !important;
    max-width: 35 !important;
    background: none !important;
}

.react-calendar {
    aspect-ratio: 5/1 !important;
}

button {
    color: var(--slate) !important;
    padding: var(--size-bezel) calc(var(--size-bezel) * 2) !important;
    /*background: var(--primaryTeal) !important;*/
    border: 0px !important;
    border-radius: var(--primaryTeal) ;
    font-weight: 900;
    box-shadow: 5px 5px teal;
    position: relative !important;
&[type=reset]{
     background: var(--color-background);
     font-weight: 200;
 }
}

button + button {
    margin-left: calc(var(--size-bezel) * 2);
}

.babaex {
    color: var(--orange) !important;
}

:root {
    --color-light: #fcd252;
    --color-dark: white;
    --color-signal: #446168;

    --color-background: white;
    --color-text: var(--color-dark);
    --color-accent: var(--color-signal);
    --card-primary: #555BFF;
    --size-bezel: .5rem;
    --size-radius: 4px;

    --green: #1FC11B;
    --yellow: #FCD252;
    --orange: #F59B56;
    --red: #FF5555;
    --rOrgange: #F8724F;
    --primaryTeal: #44AFA9;
    --slate: #446169;
    line-height: 1.4;

    font-family: 'Inter', Oswald;
    font-size: calc(.6rem + .4vw);
    color: var(--color-text);
    background: var(--color-background);
    font-weight: 300;
    padding: 0;
}

h1, h2, h3 {
    font-weight: 900;
}
ul li + li {
    margin-left: 15px;
}

mark {
    background: var(--color-accent);
    color: var(--color-text);
    font-weight: bold;
    padding: 0 0.2em;
}

.iconContainer{
 top:-2.9vh;
 right:1vh;
}

.nextui-navbar-container {
    line-height: 6vh !important;
}


strong {
    position: relative;
    top: -250px;
    left: -10px;
    font-family: Broadway;
    display: block !important;
    color: var(--primaryTeal) !important;
    text-underline: var(--red) !important;
}
.card {
    background: var(--color-background);
    padding-left: 20px;
    padding-bottom: 7px;
    padding-top: 22px;
    padding-right: 24px;
    margin-top: calc(4 * var(--size-bezel));
    border-radius: var(--size-radius);
    border: 3px solid var(--color-shadow, currentColor);
    box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);

&--inverted {
     --color-background: var(--color-dark);
     color: var(--color-light);
     --color-shadow: var(--color-accent);
 }

&--accent {
     --color-background: var(--color-signal);
     --color-accent: var(--color-light);
     color: var(--color-dark);
 }



*:first-child {
    margin-top: 0;
}
}


.l-design-widht {
    max-width: 40rem;
    padding: 1rem;
}

.input {
    position: relative;

&__label {
     position: relative;
     left: 0;
     top: 0;
     padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
     margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
     background: pink;
     white-space: nowrap;
     transform: translate(0,0);
     transform-origin: 0 0;
     background: var(--color-background);
     transition: transform 120ms ease-in;
     font-weight: bold;
     line-height: 1.2;
 }
&__field {
     box-sizing: border-box;
     display: block;
     width: 100%;
     border: 3px solid #fcd252;
     padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
     /*color: currentColor;*/
     color: #446168;
     background: transparent;
     border-radius: var(--size-radius);
     text-color: #446168;

&:focus,
&:not(:placeholder-shown) {
& + .input__label {
      transform: translate(.25rem, -65%) scale(.8);
      color: #f59b56
      /*color: var(--color-accent);*/
  }
}
}
}

.rapper{
    border-radius: var(--size-radius);
    border: 3px solid #fcd252 !important;
    box-sizing: border-box;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    text-color: #446168 !important;
    color: #446168;
    width: 50%;
}
.{
    display:none;
}

.react-datetime-picker__button{
    box-shadow: none;
    margin: 1px;
}
.react-datetime-picker__wrapper{
    border-radius: var(--size-radius);
    border: 3px solid #fcd252 !important;
    box-sizing: border-box;
    padding: calc(var(--size-bezel) * 1.0) var(--size-bezel);
    text-color: #446168 !important;
    color: #446168;
    width: 100%;
    }

.button-group {
    margin-top: calc(var(--size-bezel) * 2.5);
}


.icon {
    display: inline-block;
    width: 1em; height: 1em;
    margin-right: .5em;
}

.hidden {
    display: none;
}




.titler{
    position: absolute;
    top:-276px;
    margin-top: 20px;
    z-index: 50;
}

.titler2{
    position: absolute;
    top:-240px;
    z-index: 50;
}

.go3842760039{
 display: none !important;
}

.go2335061104{
    display: none !important;
}

.go433304200{
    display: none !important;
}

.titler1{
    position: absolute;
    top:-240px;
    z-index: 50;
    min-width: 60px !important;
}

.blurb{
    position: absolute;
    left: 24vh;
}

.submit{
    position: absolute;
    left: 71vw;
    top:9.5vh;
    min-width: 6vh;
    background-color: var(--orange);
    color: var(--slate) !important;
    box-shadow: var(--slate) 5px 5px;
    border-radius: 5px;
}
.Sample__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 10px 0;
    padding: 10px;
}

.Sample__container > * > * {
    margin: 10px;
}

.Sample__container__content {
    display: flex;
    max-width: 100%;
    flex-basis: 420px;
    flex-direction: column;
    flex-grow: 100;
    align-items: stretch;
}
.react-calendar {
    min-width: 60px;
    z-index: 1000;
    padding: 12px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
}

.react-datetime-picker__calendar{
    min-width: 400px;
}
.react-calendar_tile{
    background: whitesmoke;
}

.react-calendar__month-view__days__day{
    background: white;
    /*padding: 2px;*/

}

.react-calendar_navigation_arrow{
    background: whitesmoke;
}

.react-calendar_navigation_arrow{
    background: whitesmoke;
}

.react-calendar__month-view__weekdays{
    border: 2px dotted;
    color: #44afa9;
}

.react-calendar__navigation button {
    min-width: 30px;
    max-width: 35;
    background: none;
}

.light-theme {
    --nextui-colors-background: transparent;
}
.glassy {
    padding: 12px;
    background: rgba( 255, 255, 255, 0.45 ) !important;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )  !important;
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    break-inside: avoid;
}



.nextui-navbar-container{
    background-color: #ffffff !important;
    min-width: 100vw;
    font-family: Broadway;
    line-height: 200%;
    opacity: 98%;
}
/* THE STACK*/


.stack {
    background-color: white;
    display: block;
    width: 400px;
    min-height: 200px;
    border: 3px solid var(--primaryTeal);
    padding: 15px;
    margin: 70px auto 50px auto;
    box-shadow: 15px -15px 0 -3px var(--color-background), 15px -15px var(--yellow ),
    30px -30px 0 -3px var(--color-background), 30px -30px var(--orange ),
    45px -45px 0 -3px var(--color-background), 45px -45px var( --red);
    /*60px -60px 0 -3px var(--color-background), 60px -60px var();*/
    transition: box-shadow 1s, top 1s, left 1s,
                transform 2s ease-out,
                margin-top 2s ease-out;
    ;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    transform: translate3d(0,0,0);

}
.stack:hover {
    top: -40px;
    left: 40px;
    margin-top: 120px;
    transform: scale(1.3);
    box-shadow: 0 0 0 -3px var(--color-background), 0 0 0 0 var(--yellow),
    0 0 0 -3px var(--color-background), 0 0 0 0  var(--orange),
    0 0 0 -3px var(--color-background), 0 0 0 0  var(--red);
    /*0 0 0 -3px  var(--color-background), 0 0 0 0  var();*/
}


/*:root {*/
/*    --primary: #555BFF;*/
/*    --secondary: #22D2A0;*/
/*    --background: white;*/
/*    --green: #1FC11B;*/
/*    --yellow: #FFD913;*/
/*    --orange: #FF9C55;*/
/*    --red: #FF5555;*/
/*}*/

/**{*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    box-sizing: border-box;*/
/*}*/

/*body {*/
/*    background-image: radial-gradient(var(--secondary) 30%, var(--background) 30%);*/
/*    background-size: 2px 3px;*/
/*    font-family: "Archivo", sans-serif;*/
/*    color: var(--primary);*/
/*}*/
.arrows{
    position: absolute;
}
.stack p {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}

.stack h2 {
    font-size: 14px;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
}

.wave-container {
    background-image: url('../pages/scatter.svg');
    background-size: cover;
    background-position: center center;
    min-height: 90vh;
    /*margin-top: 20px;*/
}
.wave-container > svg {
    display: block;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.react-icons {
    vertical-align: middle;
    size: 3em;
}

.contact_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

/*.react-calendar__month-view__days{*/
/*    background: #669900;*/
/*}*/

/*strong::before {*/
/*    !* Highlight color *!*/
/*    background-color: #44afa9;*/

/*    content: "";*/
/*    position: absolute;*/
/*    width: calc(100% + 4px);*/
/*    height: 60%;*/
/*    left: -2px;*/
/*    bottom: 0;*/
/*    z-index: -1;*/
/*    transform: rotate(-2deg);*/
/*}*/

.iconContainer {
    position: relative;
    width: max-content;
    height: max-content;
}

.icon {
    position: absolute;
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
}

.icon:nth-child(1) {
    left: 0;
    top: 0;
    align-self: end;
}

.icon:nth-child(2) {
    left: 3px; /* Adjust as needed */
    top: -3px; /* Adjust as needed */
}

.icon:nth-child(3) {
    right: 40px; /* Adjust as needed */
    top: 40px; /* Adjust as needed */
}

.shadowy{
    text-shadow: -2px 1px 0 #44afa9;
}